<div class="card">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>footer</p>
      <footer class="blockquote-footer"> © 2023 Copyright: <cite title="Source Title">Öznur Paylan</cite></footer>
    </blockquote>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" >Anasayfa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Hakkımızda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Galeri</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">İletişim</a>
    </li>
  </ul>
</div>
